<div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-12">
    <div class="group relative" *ngFor="let product of products">
    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:scale-105 transition ease-in-out delay-[10ms] lg:h-70">
        <img [src]="product.image" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-fill object-center lg:h-full lg:w-full">
    </div>
    <div class="mt-4 flex justify-between px-4">
        <div>
        <h3 class="text-s text-gray-700">
            <a href="#" [routerLink]="['/products', product.id]" routerLinkActive="router-link-active">
            <span aria-hidden="true" class="absolute inset-0"></span>
            {{ product.name }}
            </a>
        </h3>
        </div>
        <p class="text-sm font-medium text-gray-900">${{ product.price }}</p>
    </div>
    <p class="mt-1 text-sm text-gray-500 px-4">{{ product.detail }}</p>
    </div>
</div>